@model POS.Models.CustomersList
<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/jquery-ui.min-1.11.1.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Content/services.js"></script>
@*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
<link href="~/Content/css/bootstrap-rtl.css" rel="stylesheet" />
<link href="~/Content/POS.css" rel="stylesheet" />
<link href="~/Content/css/jquery-ui.min.css" rel="stylesheet" />
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script>
        var startPos = function(t) {
            var id = $(t).val();
            var url = '@Url.Action("Index", "POS")';
            alert(url);
            window.open(url + '/?studentId=' + id, '_self');
        }
    </script>
</head>
<body>
    <div class="jumbotron">
        <div id="showCustomers">
            <label class="alert-dismissible">בחר תלמיד:</label>
            @Html.DropDownList("ddl", new SelectList(Model, "CustomerId", "CustomerFullName"), "בחר תלמיד", htmlAttributes: new { onchange = "startPos(this);" })
        </div>
    </div>
 </body>
</html>
